*{
    padding: 0;
    margin: 0%;
    box-sizing: border-box;
}
body{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1980' height='2500' preserveAspectRatio='none' viewBox='0 0 1980 2500'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1006%26quot%3b)' fill='none'%3e%3crect width='1980' height='2500' x='0' y='0' fill='rgba(233%2c 233%2c 233%2c 1)'%3e%3c/rect%3e%3cpath d='M0%2c889.616C165.004%2c857.543%2c306.395%2c778.26%2c465.713%2c724.664C688.06%2c649.865%2c985.114%2c702.99%2c1121.704%2c512.265C1254.531%2c326.794%2c1185.64%2c52.677%2c1097.72%2c-157.828C1018.818%2c-346.74%2c803.052%2c-424.991%2c666.528%2c-577.55C533.065%2c-726.689%2c494.52%2c-975%2c306.088%2c-1042.439C117.574%2c-1109.907%2c-89.406%2c-1002.908%2c-267.767%2c-911.93C-424.306%2c-832.083%2c-522.848%2c-685.329%2c-643.847%2c-557.896C-771.484%2c-423.472%2c-923.629%2c-313.437%2c-997.476%2c-143.415C-1086.549%2c61.663%2c-1183.2%2c295.207%2c-1105.431%2c504.833C-1027.033%2c716.154%2c-811.541%2c857.458%2c-598.673%2c931.554C-405.839%2c998.676%2c-200.431%2c928.575%2c0%2c889.616' fill='%23979797'%3e%3c/path%3e%3cpath d='M1980 3691.2889999999998C2195.348 3642.648 2298.739 3403.926 2479.027 3276.502 2648.2380000000003 3156.907 2900.2799999999997 3147.036 3003.916 2967.607 3108.7799999999997 2786.052 3050.145 2557.835 3013.3360000000002 2351.429 2977.575 2150.904 2940.676 1936.107 2794.641 1794.1100000000001 2652.323 1655.7269999999999 2436.944 1647.083 2243.437 1602.817 2061.852 1561.278 1884.451 1524.4859999999999 1699.149 1543.509 1481.771 1565.824 1250.024 1582.1100000000001 1082.174 1722.029 903.7729999999999 1870.743 790.173 2094.333 761.828 2324.853 733.741 2553.27 832.569 2771.016 927.404 2980.705 1022.552 3191.085 1120.125 3411.023 1311.496 3540.2129999999997 1504.757 3670.6800000000003 1752.5529999999999 3742.663 1980 3691.2889999999998' fill='white'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1006'%3e%3crect width='1980' height='2500' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
 header {
    position: sticky;
    z-index: 100;
    top: 0;
    background: rgb(150, 150, 150);
    background:linear-gradient(rgba(150, 150, 150,0.75),rgba(150, 150, 150,0.75)) ;
 }

/* HEADER--------------- */     
.logo-menu{
    width: 400px;
    height: 200px;
}

.header1 a{
    text-decoration: none;
   
    color: black;
    display: flex;
    
    
    
}

.header1 li{
    display: inline-block;
    margin: 2rem;
    background-color: white;
   
    
}

.banner-principal{
    background-image: url(../imagenes/bannerprincipal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    padding: 1rem;
}
/* MAIN----------------- */
.texto-1{
    font-size: 1.6rem;
    display: flex;
    align-content: normal;
    justify-content: center;
    flex-direction: row;
    
}


.cajas{
    display: grid;
    grid-template-columns: 1fr 1fr  ;
    gap: 20px;
    background: blueviolet;
    animation-name:mianimacion ;
    animation-duration: 10s;
    animation-delay: 2s;
    position: relative;
}

@keyframes mianimacion {
    0%{background: chartreuse;}
    25%{background: deeppink;}
    50%{background: deepskyblue;}
    100%{background: mediumseagreen;}
}


.parrafo1{
    background-color: rgb(240, 233, 138);
    font-size: 1rem;
    
    width: 500px;
    justify-content: left;
    
}
.ayaca{
    background-color: rgb(142, 188, 248);
    font-size: 1rem;
    
    width: 500px;
    justify-content: left;

}

.Quesillo{
    background-color: lawngreen;
    font-size:1rem ;

    width: 500px;
    justify-content: left;
}
.chicha{
    background-color: rgb(243, 203, 225);
    font-size: 1rem;

    width: 500px; 
    justify-content: right;
}

.Pescado{
    background-color: rgb(252, 146, 120);
    font-size: 1rem;

    width: 500px; 
    justify-content: right;
    
    
}
/* FOOTER--------------- */
.Contacto a{
text-decoration: none;
font-size: 1.4rem;
color: white;
}

.Contacto li{
    display: flex;
    
}

.redes a{
    font-size: 1.5rem;
    text-decoration: none;
    margin: 4rem;
    display: flex;
    justify-content: center;
    display: inline-block;
    color: black;
}

.redes a:hover{
    color: rgb(70, 70, 70);
}
.PARRAFO{
    text-shadow: 3px 3px 30px ;
    font-size: 2rem;
}   

.card {
    height: 24rem;
    width: 20rem;
    transition: 0.5s;

}

.card:hover {
    transform: translateY(-10px);
    transition: 0.5s;
  }

.card2 {
    width: 80rem;
    border-color: aqua;
    background: white;
}

.sizeImg {
    margin-top: 1.5rem;
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

nav .sizeLogo{
    width: 64px;
    height: 64px;
}

    .nav__sass{
        font-size: 1.7rem;
    }
    .bebidas__venezolanas2{
        background-image: url(/imagenes/bannerprincipal.jpg);
    }

@media only screen and (max-width: 1232px) {
    .card2 {
        height: 30rem;
        width: auto;
    }

    .card{
        width: auto;
    }
    
    .bebidas__venezolanas2{
        background-image: url(/imagenes/bannerprincipal.jpg);
    }

}
@media screen and (max-width: 360px){
    .nav__sass{
        font-size: 2rem;
    }
    .bebidas__venezolanas2{
        background-image: url(/imagenes/bannerprincipal.jpg);
    }   
}
@media screen and (max-width: 980px){
    .nav__sass{
        font-size: 2rem;
    }
    .bebidas__venezolanas2{
        background-image: url(/imagenes/bannerprincipal.jpg);
    }
}
.bebidas__venezolanas2{
    background-image: url(/imagenes/bannerprincipal.jpg);
}

.wave{
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.tryuf:hover{
    transform: translateY(-10px);
    transition: 0.5s;
    
}